.toolbar-background-md{
    background-color: #013368 !important;
    color:white !important;
}
.toolbar-title-md{
    color:white !important;
}

.bar-button-default-md{
    color: white !important;
}
