// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


ion-navbar{
    background-color: #013368;
}

.header_orc{
    font-size: 22px;
    font-weight: bold;
}

.Pendente{
    color: white !important;
    background-color: gray;
    width: 30vw;
    text-align: center;
    padding: 4px;
    font-size: 1em !important;
}

.Aprovado{
    color: white !important;
    background-color: green;
    width: 30vw;
    text-align: center;
    padding: 4px;
    font-size: 1em !important;
}

.Finalizado{
    color: white !important;
    background-color: rgb(32, 32, 151);
    width: 30vw;
    padding: 4px;
    font-size: 1em !important;
    text-align: center;
}

.avaliar{
    background-color: yellow;
    border: 1px solid black;
    color:black;
    padding: 3px 3px;
}

.star:hover:before {
    background-image: url('../../../assets/imgs/star2.png');
 }

 .star{
    width: 40px;
    height:40px;
    display:block;
    background:transparent url('../../../assets/imgs/star1.png') center top no-repeat;
    float:left;
 }

 .rating > .star:hover:before {
    background-image: url('../../../assets/imgs/star2.png');
 }